@define-color background rgba(10, 8, 20, 0.75);
@define-color text #C8C3FF;
@define-color accent1 #6A00FF;  /* viola neon */
@define-color accent2 #00D9FF;  /* azzurro elettrico */

* {
  font-family: JetBrainsMono;
  background: transparent;
}


window{
  background: @background;
  border-radius: 20px;
  border: 3px solid ;
  color: @text;
  /* transition: all 1s ease-in-out; */
  animation: glowPulse 2s infinite ease-in-out;
}


/* Glow animato cyberpunk */
@keyframes glowPulse {
  0% {
    box-shadow: inset 0 0 4px rgba(166, 0, 255, 0.7);
    border-color: rgba(166, 0, 255, 0.7);
  }
  50% {
    box-shadow: inset 0 0 6px rgba(0, 128, 255, 0.7);
    border-color: rgba(0, 128, 255, 0.7);
  }
  100% {
    box-shadow: inset 0 0 4px rgba(166, 0, 255, 0.7);
    border-color: rgba(166, 0, 255, 0.7);
  }
}

@keyframes glowPulseText {
  0% {
    text-shadow: 0 0 2px currentColor;
  }

  50% {
    text-shadow: 0 0 15px  currentColor;
  }

  100% {
    text-shadow: 0 0 2px  currentColor;
  }
}

/* Testo e selezione */
#input {
  border: none;
  background: transparent;
  color: @text;
  padding: 8px 10px;
  font-size: 16px;
}

#entry {
  padding: 8px 10px;
  background: transparent;
  color: @text;
  transition: color 0.5s ease-in-out;
  background-color: transparent;
}

#entry:selected {
  background: linear-gradient(90deg, rgba(166, 0, 255, 0.3), rgba(0, 128, 255, 0.3));
  color: rgb(0, 128, 255);
  box-shadow: 0 0 8px rgba(0, 217, 255, 0.4); 
  animation: glowPulseText 2s infinite ease-in-out;
}

/* Titolo e prompt */
#prompt {
  color: @accent1;
  font-weight: bold;
  text-shadow: 0 0 10px @accent2
}

#scroll {
  border-radius: 10px;
}



#img {
  margin-right: 10px;
}


