@define-color background rgba(10, 8, 20, 0.85);
@define-color text #C8C3FF;
@define-color accent1 #6A00FF;  /* viola neon */
@define-color accent2 #00D9FF;  /* azzurro elettrico */

* {
  font-family: JetBrainsMono;
  background: transparent;
}


window{
  /* border-radius: 8px;
  border: 1px solid ;
  background-color: @background;
  color: @text;
  animation: glowPulse 3s infinite ease-in-out; */
  background: @background;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid ;
  color: @text;
  animation: glowPulse 3s infinite ease-in-out;
}


/* Glow animato cyberpunk */
@keyframes glowPulse {
  0% {
    box-shadow: inset 0 0 4px rgba(166, 0, 255, 0.7);
    border-color: rgba(166, 0, 255, 0.7);
  }
  50% {
    box-shadow: inset 0 0 6px rgba(0, 128, 255, 0.7);
    border-color: rgba(0, 128, 255, 0.7);
  }
  100% {
    box-shadow: inset 0 0 4px rgba(166, 0, 255, 0.7);
    border-color: rgba(166, 0, 255, 0.7);
  }
}

@keyframes glowPulseText {
  0% {
    text-shadow: 0 0 4px @accent2, 0 0 8px @accent2;
  }

  50% {
    text-shadow: 0 0 12px @accent2, 0 0 24px @accent2, 0 0 36px @accent2;
  }

  100% {
    text-shadow: 0 0 4px @accent2, 0 0 8px @accent2;
  }
}

/* Testo e selezione */
#input {
  border: none;
  background: transparent;
  color: @text;
  padding: 8px 10px;
  font-size: 16px;
  caret-color: @accent1
}

#entry {
  padding: 6px 10px;
  border-radius: 8px;
  background: transparent;
  color: @text;
  background-color: transparent;
}

#entry:selected {
  background: linear-gradient(90deg, rgba(166, 0, 255, 0.3), rgba(0, 128, 255, 0.3));
  color: #FFFFFF;
  /* text-shadow: 0 0 5px @accent2;  */
  box-shadow: 0 0 8px rgba(0, 217, 255, 0.4); 
  transition: all 0.2s ease-in-out;
  animation: glowPulseText 2s infinite ease-in-out
}

/* Titolo e prompt */
#prompt {
  color: @accent1;
  font-weight: bold;
  text-shadow: 0 0 10px @accent2
}

#scroll {
  border-radius: 10px;
}

/* Scrollbar minimale */
scrollbar, scrollbar slider {
  background: transparent;
  min-width: 8px;
}

scrollbar slider {
  background-color: rgba(0, 217, 255, 0.3);
  border-radius: 4px;
}


#img {
  margin-right: 6px;
}


